* { /* SV - settings for every possible element on the page */
    font-family: 'Tahoma', 'Sans-seriff';
    margin:0;
    box-sizing: border-box; /*SV 11-14 - as per w3schools, changes calculation of total size of elements to give better CSS control */
}

/* -------------- element settings -------------- */

h1 { /* CP, moved to new tag 11-14 by SV */
    font-size: 5vw;
}

/* -------------- section settings -------------- */

header { /* SV 11-14 - a modification of AH's work for our header info*/
    background-color:lightblue;
    padding:15px;
    text-align:center;
    font-size: 4em;
}
.overFlow { /* SV 11-14 - sets a container for our columns, to keep any other content below it */
    overflow: auto; /* as per w3schools */
}

nav { /* CP - modified SV 11-14 - Changed the width as part of moving <nav> from the top to the left */
    width: 10%;     /* make sure the width in this, <main>, and <aside> all add up to 100%! */
    float: left;
    text-align: center;
    background-color: #555; 
    overflow: auto;
}
            
nav a { /* CP */
    padding: 12px;
    transition: all .3s ease;
    display: block; /* SV 11-14 - sets the nav buttons into blocks, so they become stackable */
    color: white; 
    font-size: 20px;
} 
            
nav a:hover { /* CP */
    background-color: rgb(238, 15, 15); 
}
            
.active { /* CP */
     background-color: #0f7fe9; 
}

main { /* AH - modified 11-15 by SV - sets <main> to the right of <nav> */
    float: left;
    width: 68%;     /* change this if you are removing or resizing <aside> or <nav> */
    padding: 20px;
}

aside { /* AH - modified 11-14 by SV - sets <aside> to stay to the right of main - on the far right of the page */
    background-color: #4e7a50;
    float: left;
    width: 20%;     /* change this setting if you want the sidebar to be larger. Don't forget to also change <main> */
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

footer { /* JD 11-15 - footer formatting sourced from https://www.w3schools.com/cssref/pr_class_clear.asp */
	background-color: lightgray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	text-align: center;
	margin-top:10px;
	padding: 50px;
	clear: both;
}

@media screen and (max-width: 800px) { /* AH added this, it essentially makes a 3 column section switch to sitting ontop of themselves, 
                                        instead of columns, once the screen size drops to 620px.For mobile phones. Modified by SV 11-14 to 800px. */
    nav, main, aside {
      width: 100%;
    }
}