* { /*comments here to describe the style block */
    font-family: 'Century Gothic', 'Sans-seriff';
    margin:0;
    box-sizing: border-box; /*SV - as per w3schools, changes calculation of total size of elements to give better CSS control */
}

@media screen and (max-width: 620px) { /* AH added this, it essentially makes a 3 column section switch to sitting ontop of themselves, instead of columns, once the screen size drops to 620px.For mobile phones: */
    .left, .main, .right {
      width: 100%;
    }
}

nav {
    width: 100%;
    background-color: #555; 
    overflow: auto;
}
            
nav a {
    float: left;
    width: 16%; 
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease; 
    color: white; 
    font-size: 20px;
} 
            
nav a:hover {
    background-color: rgb(238, 15, 15); 
}
            
.active {
     background-color: #0f7fe9; 
}

.overFlow {
    overflow: auto;
}
/* AH Adds some style to the columns below*/
.left {
    background-color: #4e7a50;
    float: left;
    width: 20%;
    padding: 20px;
    margin: 0;
    text-align: center;
}
  
.main {
    float: left;
    width: 60%;
    padding: 20px;
}

.right {
    background-color: #4e7a50;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}