/*
    Stephen 11-14 - Before we get into things, a brief style guide reminder.
    Comments for communication use your full name, like in this one.
    For comments that need to stick around through the submission, initial and date.
    Please initial and date if you modify someone else's code, unless it's very minor.

    If you need to modify the CSS of an element for your page (ie, <h1>) make sure you
     use a Class or ID for it, so you don't break everyone else's page!
*/
    
* { /* SV - settings for every possible element on the page */
    font-family: 'Tahoma', 'Sans-seriff';
    margin:0;
    box-sizing: border-box; /*SV 11-14 - as per w3schools, changes calculation of total size of elements to give better CSS control */
}


/* --------- Colour pallette -------- */
/*-- GR 11-22 Colour Palette fom Adobe Color https://color.adobe.com/create/color-wheel
TRIAD 2: mauve #8F787C sand #D6D4A9 pink #D6BFC3 grey-blue #B2CCD6 blue #497B8F --*/


/* -------------- element settings -------------- */

h1 { /* CP, moved to new tag 11-14 by SV */
    font-size: 5vw;
    margin-left: 2vw;
    color: #44546A; /* SV 11-23 */
}
h2 { /* SV 11-23 */
    font-size: 20pt;
}
h3 { /* SV 11-23 */
    font-size: 16pt;
    float: none;
}
h4 {
    font-size: 14pt;
}
h5 { /* SV 11-23 */
    font-size: 10pt;
    float: none;
}
p { /* SV 11-23 */
    font-size: 12pt;
}

/* -------------- section settings -------------- */

body {
    background-color: #fff9ea;
}
header { /* SV 11-14 - a modification of AH's work for our header info*/
    /* 11-22 GR colour palette */
    /* background-color:  #497B8F; */
    background-image: url("../images/headerimages/sunset.JPG");
    height: 20vw;
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat; /* SV 11-23 background image and details added for header graphic */
    padding:15px;
    font-size: 4em;
    display: flex; /* SV 11-23 - as per https://www.w3schools.com/css/css3_flexbox.asp */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#logo { /* JD 12-02 logo styling to be consistent on all pgs. */
    height: 8vw; 
}

#slogan { /* JD 12-02 Using flexbox to allow slogan underneath title */
    color: #44546a; 
    font-style:italic;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.4em;
}

.quote{ /* JD 12-08 Quotation styling */
    padding: 25px;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 1.25em;
}

.bold{
    font-weight: bold;
}

nav { /* CP - modified SV 11-14 - Changed the width as part of moving <nav> from the top to the left */
    font-size: 12pt;
    background-color: #665558;     /* GR 11-22 colour palette */
    overflow: hidden; /* SV 12-02 - as per https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
}
nav a { /* CP */
    float: left;
    display: block;
    color: white; 
    text-align: center;
    padding: 10px;
    transition: all .3s ease;
    text-decoration: none; /* SV 12-02 - get rid of those annoying underlines */
} 
nav a:hover { /* CP */
    background-color: #D6BFC3; /* GR 11-22 colour palette */
}          
nav a.active { /* CP */
    background-color: #497B8F; /* GR 11-22 colour palette  */
}
nav a:not(:first-child) {
    display: none;
}
nav a.icon {
    float: right;
    display: block;
}
.topnav.responsive {
    position: relative;
}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

main { /* SV 11-23 - sets up flexbox, to simplify positioning of everything. Removed all previous float and positioning items. */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

section { /* SV - 11-23 - aligns subsequent sections to the column format consistent with main */
    margin: 1vw;
    order: 1;
    flex: 80vw;
    display: flex;
    flex-direction: column;
}

aside { /* AH - modified 11-14 by SV - sets <aside> to stay to the right of main - on the far right of the page */
    background-color: #B2CCD6; /* GR 11-22 colour palette */  
    padding: 15px;
    margin: 1vw;
    text-align: center;
    order: 2;
    flex: 20vw;
}
.projects{
    text-align: center;   
}
footer { /* JD 11-15 - footer formatting sourced from https://www.w3schools.com/cssref/pr_class_clear.asp */
    background-color: #D6D4A9;
	border-top: 1px solid gray;
	text-align: center;
	padding: 2vw;
	position: static;
    bottom: 0;
}

.footernotes {
    font-size: 10pt;
}
.deadlink { /* JD 12-06 styling leads to hover effect below  */
	color: black;
	text-decoration:none;
}    
.deadlink:hover { /* JD 12-06 Creates the appearance of a clickable link, regardless if it does anything or not  */
	text-decoration: underline;
    cursor:pointer;
} 
.source {
    font-size: 10pt;
    font-style: italic;
    padding: 5px;
}

/* -------------- Landing (index) Page Styling -------------- */ 

#landingPic {
    background-image: url("../images/headerimages/oceancliff.JPG");
    height: 50vw;
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat; /* SV 11-23 background image and details added for header graphic */
    display: flex; /* SV 11-23 - as per https://www.w3schools.com/css/css3_flexbox.asp */
    flex-flow: row wrap;
    justify-content: center;
}

#landingText {
    font-weight: bold;
    text-align: center;
    font-size: 1.5vw;
    padding-top: 4%;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 20%;
}

.landingTitle {
    text-align: center;
    margin-top: 20px;
}


/* -------------- Blag Page Styling -------------- */ 

/* GR 11-25 center align blag page title */
.blagtitle{
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    color: #44546A;;
}

/* Inspiration for blag design SOURCE: https://www.worldwildlife.org/blogs  */
/* GR 12-03 Style individual blags in cards CSS SOURCE: https://www.w3schools.com/howto/howto_css_profile_card.asp*/ 
div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: 20px;
    text-align: left;
    font-family: arial;
    background-color:white;
}
/* set the main title of the blag to have margin in div.card */
h3.blags{
    margin:10px
}
/* GR 12-03 set the sub-title including author name and date of the blag to have margin consistent margin like h3.blags and change text colour */
.subtitle {
    color: #3b5d8d;
    margin: 10px;
}
/* GR 12-03 include margin for summary */
summary.blags {
      margin:10px;
}

/* GR 12-03 include margin for text elements in summary */
p.Blags {
    margin:20px;
}

/* GR 06-12 Styling for the blag aside */

/* GR 06-12 Header styling consistent with other pages with underline and margin space after header */
h4.BlagAside {
    text-decoration: underline;
    margin-bottom: 10px;
}
/* GR 06-12 styling for link button to About Us page */
.authorp{
    margin-top: 10px
}

/* Meet the author link to About us page, create button appearance with colour */
.author {
    background-color:  #665558;
    color: white;
    text-decoration: none;
    padding: 5px;
}
/* Meet the author link to 'About Us' page styling hover colour */
.author:hover {
    background-color: #8F787C;
}
/* Style blag titles to the left with a margin to make blag division clear*/
.library{
    text-align: left;
    margin: 5px;
    color: black;
}
/* style the bookmark links to have circle bullet indication each blag */
.library{
    list-style-type: circle;
}
#blagaside { /* GR 12-08 - using flexbox to organize aside content, use ID to make aside wider than in other pages */
    position: sticky;
    position: -webkit-sticky; /* to make it work in Safari, for all those Mac nerds */
    top: 0;
    align-self: flex-start; /* This is to make it work with our flexbox layout; thanks to https://newbedev.com/my-position-sticky-element-isn-t-sticky-when-using-flexbox */
    min-width: 30%;
}   
/* -------------- Services Page Styling -------------- */

/* SV 12-01 - Stole the centre titling from Blag Page */

.serve {                /* SV 12-01 - Sets the aside so that the text will centre on the image, or vise-versa depending on screen size */
    display: flex;      /* SV 12-01 - Also establishes the container to flexbox for future formatting */
    height:max-content;
    align-items: center;
    margin-top: 10vw;
}
.serve p {              /* SV 12-01 - the text looks nicer when it lines up on both edges */
    text-align:justify;
}
.serve:first-child {    /* SV 12-01 - Removes the spacing on the first element so we don't get weird gaps */
    margin-top: 0;
    padding-top: 0;
}
.picBox {               /* SV 12-01 - Sets the image width for the page at any resolution, but hides it for small screens */
    width: 30vw;
    display: none;
}
.picSet {               /* SV 12-01 - Setting the image max-sizing, which also controls the article size on large screens, and rounds the corners*/
    max-width: 28vw;
    max-height: 300px;
    border-radius: 10px;
}
.leftText {             /* SV 12-01 - Left-aligned sections use default attributes */
    flex-direction: row;
}
.rightText {            /* SV 12-01 - Attributes for right-aligned sections: */
    flex-direction: row-reverse;
}
.rightText h3 {
    text-align: right;
}
.serviceSidebar {       /* SV 12-08 Attributes for the sidebar */
    padding: 1vw;   
}
.serviceSidebar ul {    /* SV 12-08 - Positions the list within the sidebar */
    padding: 0;
    padding-left: 1vw;
}
.serviceSidebar li {    /* SV 12-08 - Lines up the list in an orderly fashion */
    text-align: left;
    margin-top: 0.5vh;
}
.serviceSidebar p {     /* SV 12-08 - widen the testimonial text */
    text-align: justify;
}
#giveMeMoreSpace {      /* SV 12-08 - Move the testimonials down a bit to reduce crowding */
    margin-top: 2.5vw;
}
.serviceSidebar h4 {    /* SV 12-08 - Space out the testimonials */
    margin-top: 1vw;
}
p.rightP {              /* SV 12-08 - override the widening, move the signatures to the right */
    text-align: right;
}
#hideSmall {            /* SV 12-08 - hides the references to the photos on small screens, since the photos are hidden */
    display: none;
}

    /* -------------- About Us Page Styling -------------- */

.spacecadetbaby { margin-top: 1vh; } /*AH 12-04 Spacing between paragraphs*/

.spacecadetbig {margin-top: 5vh;}

.folks { /* AH/SV 12-04 - the bio panels to go in rows, wrapping around if made smaller */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.bio { /* AH/SV 12-04 - sets the bio panels to arrange their contents vertically, full-width on small screens */
    width: 100vw;
    border: 1px solid rgb(20, 56, 34);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    margin: .5vw;;
}
.justify { /* AH/SV 12-04 - sets the paragraphs to justify instead of centre */
    text-align: justify;
}


/* CP  -------------- Projects Page Styling  -------------- */
/* CP - Based heavily on Services Page Styling.  Order reversed */

#ProjectsAside { /* CP  - Overriding styling for the aside box to allow for bullets */
    padding: 15px;
    text-align: left;
    order: 2;
    flex: 20vw;
}
.contactheaders { /* CP - to centre the title in the aside box */
    margin-top: 10px;
    text-align: center;
    padding:5px;
}
article.rightText h5 { /* CP - to have right-aligned text for the articles*/
    text-align: right;
}

/* ---------------- JD 12-05 Get Involved Styling ------------------- */

#ConWithUs { /* JD 12-06 - Overriding styling for the aside box to fit more content */
    padding: 15px;
    margin-left: 0;
    text-align: center;
    order: 2;
    flex: 20vw;
    min-width: 35%;
}

.intropara { /* JD 12-07 - Different styling first first paragraph in subpage for distinction */
    padding-top:15px;
    padding-bottom:15px;
}

.joblink { /* JD 12-06 - Inspired from actual career pages where jobs links are in boxes */
    background-color: rgb(64, 66, 85);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .joblink:hover { /* JD 12-06 - Link is highlighted over hover to simulate interaction */
    background-color:  rgb(19, 19, 20);
    cursor:pointer;
  }

  .jobwrap { /* JD 12-06 - using flexbox to organize the job link boxes */
    padding-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    column-gap: 15px;
    min-width: 50%;
}

.underlineTitle { /* JD 12-06 - underlining titles (h3) for visual appeal and organization. could be used for titles in other pages */
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.getinvolvedElement1 { /* JD 12-06 - minor spacing formatting specific to this page */
    padding: 10px;
}

.getinvolvedElement2 { /* JD 12-06 - minor spacing formatting specific to this page to override other styles */
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0;
}

.selfie { /* JD 12-07 - Image styling for this specific section */
    width: 100%;
    border-radius: 10px;
}

.contactInfo { /* JD 12-06 - using flexbox to display contact info appropriately with size of screen */
    padding-top: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 10px;
    column-gap: 15px;
    min-width: 50%;
}

.contactheaders { /* JD 12-06 - minor formatting for contact info in aside */
    margin-top: 10px;
    padding:5px;
}

.officeDesc { /* JD 12-06 - minor text styling for info in aside */
    padding: 10px;
    font-style: italic;
}

/* ------------- JD - 12-07 - End of GetInvolved Styling ------------------------------------ */

@media screen and (min-width: 800px) {
    main {
        flex-direction: row;
        }
        /* SV - 12-02 - added hamburger menu; moved small-page styles down to here */
    nav { /* CP - modified SV 11-14 - Changed the width as part of moving <nav> from the top to the left */
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 12pt;
        overflow: hidden; /* SV 12-02 - as per https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
    }
    nav a { /* CP mod SV 12-01 - adjusts size of nav bar when screen size increases */
        color: white; 
        text-align: center;
        padding: 10px;
        transition: all .3s ease;
        text-decoration: none; /* SV 12-02 - get rid of those annoying underlines */
        font-size: 15pt;
        padding-left: 15px;
        padding-right: 15px;    
    }
    nav a:hover { /* CP */
        background-color: #8F787C; /* GR 11-22 colour palette */
    }          
    nav.active { /* CP */
        background-color: #497B8F; /* GR 11-22 colour palette  */
    }
    nav a:not(:first-child) {     /* SV 12-02 - overrides the small-screen hiding of the menu */
        display: inherit;
    }
    nav a.icon {     /* SV 12-02 - overrides the line above this one, for the hamburger only */
        display: none;
    }
    aside {
        position: sticky;
        position: -webkit-sticky; /* to make it work in Safari, for all those Mac nerds */
        top: 0;
        align-self: flex-start; /* This is to make it work with our flexbox layout; thanks to https://newbedev.com/my-position-sticky-element-isn-t-sticky-when-using-flexbox for fixing the damn thing */
        max-height:100vh;   /* JD 12-08, moved here by SV to apply to all asides, as necessary */
        overflow: auto;     /* these two elements set a scroll bar if the aside becomes longer than the visible screen */

    }
    /* ---------- Services styling for large pages ---------- */
    .serve {
        margin-top: 1vw;
    }
    .picBox { /* displays the images on the services page when the screen is large */
        display: block;
    }
    .leftText figure { /* when the figure is present, put a margin between the image and the left-side text */
        margin-left: 1vw;
    }
    .rightText figure { /* when the figure is present, put a margin between the image and the right-side text */
        margin-left: 0;
        margin-right: 1vw;
    }
    #hideSmall {
        display: block;
        margin-top: 1vw;
    }

     /* ---------- About Us styling for large pages ---------- */
    .bio { /* AH/SV 12-04 - Sets the width of the bio boxes so that three fit on a larger screen */
        width: 23.5vw;
    }
    .profiles { /* AH/SV 12-04 - sets images to greyscale for bios */
        filter: grayscale(100%);
    }
    .profiles:hover { /* AH/SV 12-04 - bio images switch to colour on mouseover */
        filter: none;
    }
}